{% extends 'base.html.twig' %}

{% block title %}Результаты отчета{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h2 class="mb-4">Результаты отчета</h2>
        <p>Период: {{ from_date|date('d.m.Y') }} - {{ to_date|date('d.m.Y') }}</p>
        
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Пользователь</th>
                        <th>Общая сумма</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ result.username }}</td>
                        <td>{{ result.total|number_format(2) }} р.</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="3" class="text-center">Данные за указанный период не найдены</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="mt-4">
            <p><strong>Всего клиентов в базе:</strong> {{ totalClients }}</p>
            <p><strong>Суммарные траты всех пользователей:</strong> {{ totalSpent|number_format(2, ',', ' ') }} р</p>
            <a href="{{ path('app_report_form') }}" class="btn btn-primary">Создать новый отчет</a>
            <a href="{{ path('app_report_download', {'from': from_date, 'to': to_date}) }}" class="btn btn-secondary">Скачать отчет за период</a>
        </div>
    </div>
</div>
{% endblock %} 